<!doctype html>
<html lang="en"
<head>
	<title>Choice Cuts</title>
	<meta http-equiv="cleartype" content="on">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">     			
	<link type="text/css" href="../templates/media/css/issue.css" rel="stylesheet">
</head>

<body>
    <div id="page-wrap">
    	
    	<!-- *********** -->       
        <!-- HEADER      --> 
        <!-- *********** --> 
       
        
        
        <!-- *********** -->       
        <!-- BODY        --> 
        <!-- *********** --> 
               
        
        <!-- *********** -->       
        <!-- FOOTER      --> 
        <!-- *********** -->        
        
        
	</div><!-- END #page-wrap -->

</body>
</html>